.TH HEXED 8 "" ""
.SH NAME
hexed \- thread editor binary file on hexadecimal format.
.SH SYNOPSIS
.B hexed \fR[\fB\-h\fR|\fB\-d\fR]
.SH DESCRIPTION
.B hexed
is a thread editor of binary file on hexadecimal format/
.SH OPTIONS
.PP
.B \-h
help page
.TP
.SH EXIT STATUS
hexed exits with 0 on success, 1 on most failures.
.SH LICENSE
.B hexed
is covered by the GNU General Public License (GPL), version 2. Some files are
additionally available under any later version of the GPL.
.SH COPYRIGHT
.br
Please see the individual files.
.SH AUTHORS